# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tsks.json!.vscode/launch.json
vscode/extensions.json
*.code-workspace
# Local history for Visual Studio Code
.history/

# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json

# Python
**/__pycache__/

# Read Me
**/README.md
*.vsidx
/.vs/CS411-Crystal-CrossFade/v17/.wsuo
/.vs/CS411-Crystal-CrossFade/v17/workspaceFileList.bin
*.json
/.vs/slnx.sqlite
/.vs/CS411-Crystal-CrossFade/FileContentIndex/read.lock
/Images/output-1.png
*.musicxml
/.vs/CS411-Crystal-CrossFade/FileContentIndex/write.lock
